<!DOCTYPE html>
<html>
<head>
	<title>base</title>
</head>
	<header class="titulo">
		<h1>Ingreso</h1>
	<link rel="stylesheet" type="text/css" href="css/estilos.css">	
	</header>
<body>
	<div class="cuerpo">
		<form action="/action_page.php">
			
			<p><a href="Gasto.html">
				<input type="button" value="Ingreso"></a> 
				<br>
				<br>
				<br>
				<a href="Gasto.html">
				<input type="button" value="Gasto" >
				</a>
				<br>
				<br>
				<br>
				<br>
				<a href="Listademovimientos.html">
				<input type="button" value="Movimientos" >
				</a>
			</p>

		</form>
		
	</div>
	<footer class="pie">
		<a href="index.html">Inicio</a>
	</footer>
</body>
</html>