
<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" href="{% static 'core/css/estilos.css' %}">
</head>
	<header class="titulo">
		<h1>{% block header %}{% endblock %}</h1>
		
	
	</header>
<body>
	<div class="cuerpo">
		<form action="/action_page.php">
			
			{% block content %} {% endblock %}

		</form>
		
	</div>
	<footer class="pie">
		<a href="{% url 'home' %}">principal</a>
		<a href="{% url 'ingreso' %}">Ingreso</a>
		<a href="{% url 'gastos' %}">gastos</a>
	</footer>
</body>
</html>