{% extends 'core/base.html' %}
{% load static %}
{% block title %}INGRESO{% endblock %}
{% block header %}INGRESO{% endblock %}
{% block content %} 
<p >Monto<br> <input type="text" name="FirstName" required></p><br>
			<p  >Descripcion<br> <input type="text" name="LastName" value=""></p><br>
			
			<p >
				<label for="fecha">Fecha</label><br>
				
				<input type="date" id="fecha" name="fecha" size="20">
				Hora
				<input type="time" name="hora"></p>
			<p>Categoria<br>
				<select>
					<option>corsa</option>
					<option>toyota</option>
				</select>
	</p><br>
	<p>
				<input type="button" value="Guardar">
				<input type="button" value="Gestionar categorias">
</p>
{% endblock %}