<!DOCTYPE html>
<html lang="en">
<head>
	<title>INGRESO</title>
	<meta charset="UTF-8">
    {% load static %}
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{% static 'core/images/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
	
    <link href="{% static 'core/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    
    
  <!--<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">-->
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'core/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'core/fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'core/vendor/animate/animate.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'core/vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'core/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'core/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'core/css/main.css' %}">
<!--===============================================================================================-->
</head>
<body>


	<div class="container-contact100" style="background-image:   url('{% static 'core/images/bg-01.jpg' %}');">
		<div class="wrap-contact100">
			<form class="contact100-form validate-form">
				<span class="contact100-form-title">
					APITAX
				</span>

				<div class="wrap-input100 rs1-wrap-input100 " >
					<span class="label-input100">Fecha</span>
					
					<input class="input100" type="date">
				</div>

				<div class="wrap-input100 rs1-wrap-input100 " >
					<span class="label-input100">Hora</span>
					<input class="input100" type="time" >
				</div>
				<div>
					
					
				</div>
				


				<div class="wrap-input100 rs1-wrap-input100 " >
					<span class="label-input100">Monto</span>
					<input class="input100" type="text" name="name" placeholder="Ingrese el monto">
				</div>

				<div class="wrap-input100 rs1-wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
					<label for="sel1">Select list:</label>
  						<select class="form-control" id="sel1">
    						<option>1</option>
    						<option>2</option>
    						<option>3</option>
    						<option>4</option>
  						</select>
				</div>
				

				<div class="wrap-input100 ">
					<span class="label-input100">Descripción</span>
					<textarea class="input100" name="message" placeholder="Ingrese aqui su comentario..."></textarea>
				</div>

				<div class="container-contact100-form-btn">
					<div class="wrap-contact100-form-btn">
						<div class="contact100-form-bgbtn"></div>
						<button class="contact100-form-btn">
							ENVIAR
						</button>
					</div>
				</div>
			</form>
		</div>

		<span class="contact100-more">
				Call us on +001 345 6178
		</span>
	</div>



	<div id="dropDownSelect1"></div>

<!--===============================================================================================-->
	<script src="{% static 'core/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'core/vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'core/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--==================================================================================-->
	<script src="{% static 'core/vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'core/js/main.js' %}"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>

</body>
</html>
